



<header class="relative flex items-center justify-center h-screen mb-12 overflow-hidden" style="background-image: url('../../assets/images/gif_intro.gif');background-repeat: no-repeat;background-size: cover;">
    <div class="relative z-30 p-5 text-2xl text-white  rounded-xl text-center ">
        <img src="../../assets/images/LOGO.png" class="w-full h-auto max-w-xl rounded-lg" alt="image description">

        <em class=" text-2xl font-italic  text-white text-center my-3">"No tiene sentido"</em>
    </div>

  </header>
