

<header class="relative flex items-center justify-center h-screen  overflow-hidden">

<div class=" flex items-center justify-center h-screen overflow-hidden divBackground ">
   
    <div class="relative z-30 p-12 text-2xl text-black  rounded-xl text-center  lg:scale-125">
        <img src="../../assets/images/LOGO.png" class="" alt="image description">

        <em class="mb-4 text-white text-xl font-extrabold leading-none tracking-tight  md:text-2xl lg:text-3xl text-center my-3 ">❛ No tiene sentido ❜</em>
    </div>
   
    <video autoplay loop [muted]="'muted'" class="absolute z-10 w-auto min-w-full min-h-full max-w-none">
        <source src="../../assets/videos/video.mp4" type="video/mp4" />Your browser does not support the video tag.
      </video>
</div>
</header>