
<div class="mt-6">
<h1 class=" text-3xl font-extrabold text-white text-center">Patrocinadores y Apoyos</h1>
<div class="slider">
  <div class="slide-track-1">

      <div class="slide">
          <img  src="../../assets/images/Finetwork.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
      </div>

      <div class="slide">
          <img  src="../../assets/images/EG00.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
      </div>

      <div class="slide">
          <img  src="../../assets/images/Popeyes.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
      </div>

      <div class="slide">
          <img  src="../../assets/images/motorsport.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
      </div>

      <div class="slide">
        <img  src="../../assets/images/thrustmaster.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
      </div>

      <div class="slide">
        <img  src="../../assets/images/externa.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
      </div>

      <div class="slide">
          <img  src="../../assets/images/ford.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
      </div>

      <div class="slide">
          <img  src="../../assets/images/ondamadrid.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
      </div>

      <div class="slide">
          <img  src="../../assets/images/raw_b.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
      </div>

      <div class="slide">
        <img  src="../../assets/images/carroceriasImagen.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
      </div>

      <div class="slide">
        <img  src="../../assets/images/Finetwork.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
    </div>

    <div class="slide">
        <img  src="../../assets/images/EG00.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
    </div>

    <div class="slide">
        <img  src="../../assets/images/Popeyes.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
    </div>

    <div class="slide">
        <img  src="../../assets/images/motorsport.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
    </div>

    <div class="slide">
      <img  src="../../assets/images/thrustmaster.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
    </div>

    <div class="slide">
      <img  src="../../assets/images/externa.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
    </div>

    <div class="slide">
        <img  src="../../assets/images/ford.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
    </div>

    <div class="slide">
        <img  src="../../assets/images/ondamadrid.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
    </div>

    <div class="slide">
        <img  src="../../assets/images/raw_b.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
    </div>

    <div class="slide">
      <img  src="../../assets/images/carroceriasImagen.png" width="300" height="400" alt="Logo description" loading="lazy" alt="">
    </div>

  </div>
</div>
</div>